######################################################################
# Folders
######################################################################
config/deps
deps
.homeassistant/deps
tts
unused
__pycache__

######################################################################
# Files
######################################################################
.cloud
*.conf
core.*
*.csr
*.crt
*.db-journal
*.db-shm
*.db-wal
.DS_Store
.HA_VERSION
home-assistant.log
home-assistant_v2.db
.homekit.state
ios.conf
ipchange.yaml
ip_bans.yaml
*.key
known_devices.yaml
nest.conf
OwnTracks_config.txt
OZW_Log.txt
*.pickle
*.pid
phue.conf
production_auth.json
pyozw.sqlite
secrets
secrets.yaml
*.sqlite
.storage
.uuid
*.xml
